<div mat-dialog-content>
  <p class="dialog-title">Are you sure you want to delete this question?</p>
  <span class="dialog-question-title">Question :</span>
  <div class="dialog-question-content">{{ data.question.question_name }}</div>
  <span class="dialog-question-title">Answer 1 :</span>
  <div class="dialog-question-content"> {{ data.question.question_answer1 }}</div>
  <span class="dialog-question-title">Answer 2 :</span>
  <div class="dialog-question-content"> {{ data.question.question_answer2 }}</div>
  <span class="dialog-question-title">Answer 3 :</span>
  <div class="dialog-question-content"> {{ data.question.question_answer3 }}</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
  <button mat-button (click)="sure()">Yes, I am sure</button>
</div>
