<mat-grid-list cols="1">
  <mat-grid-tile colspan="1" rowspan="2" class="mat-card-panel two-rows-panel">
    <mat-card class="small-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Create an account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div class="username-email-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your username</mat-label>
              <input matInput placeholder="email@example.com" [formControl]="form.get('username')" required>
              <mat-error *ngIf="form.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="username" [formControl]="form.get('email')" required>
              <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="password-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input type="password" matInput placeholder="password" [formControl]="form.get('password')" required>
              <mat-error *ngIf="form.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter your password again</mat-label>
              <input type="password" matInput placeholder="password" [formControl]="form.get('confirmPassword')" required>
              <mat-error *ngIf="form.get('confirmPassword').invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
            </mat-form-field>
          </div>

          <ngb-alert [dismissible]="false" class="register-alert" hidden="true"></ngb-alert>

          <p><a routerLink="/login">Already have an account? Sign in here!</a></p>

        </form>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" type="submit" (click)="register()">Register</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
